.select2-dropdown.select2-dropdown--below{
  width: 250px !important;
}

.select2-container--default .select2-selection--single{
padding:6px;
height: 40px;
width: 250px; 
font-size: 1.2em;  
position: relative;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
background-image: #fff;
width: 1200px;
color: #fff;
font-size: 1.3em;
padding: 4px 12px;
  height: 27px;
position: absolute;
top: 0px;
right: 0px;
width: 20px;
}
